#unity-container {
    position: absolute
}

#unity-container.unity-desktop {
    padding: 0;
    margin: 0
}

#unity-canvas {
    background: #000000
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -36%);
    display: none
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('progressLogo.Dark.png') no-repeat center
}

#unity-progress-bar-empty {
    width: 141px;
    height: 8px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center
}

#unity-progress-bar-full {
    width: 0%;
    height: 8px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center
}
